.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  position: fixed;
  bottom: 0;

  width: 100%;

  padding: 2vh;

  font-size: 2.25vh;

  /* background: blue; */

  background-color: ghostwhite;


  .name {
    font-weight: 600;
    white-space: nowrap;
  }


  .link {
    color: grey;
    font-weight: 500;

    font-family: "Cascadia Code", monospace;
  }
}